*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.txt{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
}
nav .blu{
    text-align: center;
    padding: 25px;
    color: #ffffffc4;
    background-color:  #000A66;
    font-size: 13px;
}
nav .blu a{
    color: #ffffffc4;
}
nav .white{
    margin-top: 20px;
    padding: 10px 55px;
    display: flex;
    justify-content: space-between;
}
nav .white .logo{
    position: relative;
    width: 50%;
}
nav .white .logo .join{
    display: flex;
}
.g{
    width: 35px;
    height: 29px;
}
.leam{
    width: 30px;
    height: 12px;
    margin-top: 14px;
}
.line{
    margin-top: 0;
    width: 65px;
    position: absolute;
    top: 19px;
}
nav .menu{
    display: flex;
    gap: 2.5rem;
    width: 50%;
    /* margin-top: 50px; */
    text-align: center;
}
nav .menu ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-top: 15px;
}
nav .menu a{
    text-decoration: none;
    color: #070023;
    font-size: 20px;
}
nav .menu button{
    background-color: #000A66;
    color: #ffffffd8;
    font-size: 13px;
    border-radius: 28px;
    /* width: 100px; */
    /* height: 30px; */
    padding: 15px 22px;
}
.txt{
    padding-left: 17px;
    margin-top: 60px;
}
.txt .all{
    width: 50%;
    padding: 40px;
}
.spark{
    font-size: 15px;
    padding-bottom: 20px;
}
.all h1{
    font-size: 45px;
}
.txt .btn{
    padding: 15px 0;
    display: flex;
    gap: 2rem;
}
.btn .book{
    width: 180px;
    height: 50px;
}
.btn p{
    padding-top:15px ;
    font-size: 15px;
}
.socials{
    display: flex;
    gap: 2.5rem;
    padding-top: 5px;
    padding-left: 8px;
}
.socials img{
    width: 12px;
    height: 10px;
}
.and{
    width: 100%;
}
.hand img{
    width: 100%;
    overflow: hidden;
}